[submodule "Code9App-UsersService"]
	path = Code9App-UsersService
	url = https://github.com/Jelena-Milev/Code9App-UsersService
[submodule "Code9App-EurekaServer"]
	path = Code9App-EurekaServer
	url = https://github.com/Jelena-Milev/Code9App-EurekaServer
[submodule "Code9App-BookSalesService"]
	path = Code9App-BookSalesService
	url = https://github.com/Jelena-Milev/Code9App-BookSalesService
[submodule "Code9App-BooksService"]
	path = Code9App-BooksService
	url = https://github.com/Jelena-Milev/Code9App-BooksService
